In [1]:
import pandas as pd
import trane
from trane.utils import infer_types

In [2]:
pd.set_option("display.max_columns", 500)

In [3]:
df = pd.read_parquet("./yelp.parquet")
df = infer_types(df)

In [9]:
print(f"Number of Rows: {df.shape[0]}")

Number of Rows: 50000

In [10]:
df.head(3)

,review_id,user_id,business_id,stars,useful_review,funny_review,cool_review,text,date,name,review_count,yelping_since,useful_user,funny_user,cool_user,elite,friends,fans,average_stars,compliment_hot,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos,name_business,address,city,state,postal_code,latitude,longitude,stars_business,review_count_business,is_open
0,KU_O5udG6zpxOg-VcAEodg,mh_-eMZ6K5RLWhZyISBhwA,XQfwVwDr-v0ZS3_CbbE5Xw,3,0,0,0,"If you decide to eat here, just be aware it is...",2018-07-07 22:09:11,Melanie,33,2016-01-13 17:20:44,32,3,8,,"DS9QBM_NWJz1E279Zrao-A, XdXgIs4i5JFvtJf0rJlWsA...",0,4.06,0,0,0,0,0,0,0,1,1,0,0,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,40.210196,-75.223639,3.0,169,1
1,VJxlBnJmCDIy8DFG0kjSow,Iaee7y6zdSB3B-kRCo4z1w,XQfwVwDr-v0ZS3_CbbE5Xw,2,0,0,0,This is the second time we tried turning point...,2017-05-13 17:06:55,John,9,2015-12-07 14:46:53,3,1,1,,None,0,2.89,0,0,0,0,0,0,0,0,0,0,0,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,40.210196,-75.223639,3.0,169,1
2,S6pQZQocMB1WHMjTRbt77A,ejFxLGqQcWNLdNByJlIhnQ,XQfwVwDr-v0ZS3_CbbE5Xw,4,2,0,1,The place is cute and the staff was very frien...,2017-08-08 00:58:18,Stella,156,2010-07-19 00:49:06,132,34,73,,"SOyhBc3XZVXGiV_2D59BjQ, QroLivYxf3ij7Llio6L24g...",8,3.73,1,0,0,0,0,1,1,0,0,1,4,Turning Point of North Wales,1460 Bethlehem Pike,North Wales,PA,19454,40.210196,-75.223639,3.0,169,1

In [11]:
entity_col = "user_id"
window_size = "2d"
minimum_data = "2020-01-22"
maximum_data = "2020-03-29"
cutoff_strategy = trane.CutoffStrategy(
    entity_col=entity_col,
    window_size=window_size,
    minimum_data=minimum_data,
    maximum_data=maximum_data,
)